.list-icon-green {
  padding: 0; }
  .list-icon-green li {
    list-style: none;
    background: url("../images/icon_check-green.png") left center no-repeat;
    font-size: 14px;
    line-height: 44px;
    padding-left: 60px; }

.image-border-style {
	border-radius: 15px;
	border: 1px solid black;
	margin-bottom: 3px;
	box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, .7);
}