/* elements */
body, select, input, textarea {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica CY";
  font-weight: normal;
  text-transform: uppercase; }

h1 {
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 5px 0;
  margin: 0; }

.module h3,
.moduletable h3 {
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 5px 0;
  margin: 0; }

body.templateColor-orange h1, body.templateColor-orange
.module h3, body.templateColor-orange
.moduletable h3 {
  color: #cb6a02; }
body.templateColor-green h1, body.templateColor-green
.module h3, body.templateColor-green
.moduletable h3 {
  color: #0b7419; }
body.templateColor-yellow h1, body.templateColor-yellow
.module h3, body.templateColor-yellow
.moduletable h3 {
  color: #d4a116; }
body.templateColor-purple h1, body.templateColor-purple
.module h3, body.templateColor-purple
.moduletable h3 {
  color: #530d89; }
body.templateColor-blue h1, body.templateColor-blue
.module h3, body.templateColor-blue
.moduletable h3 {
  color: #050b60; }
body.templateColor-red h1, body.templateColor-red
.module h3, body.templateColor-red
.moduletable h3 {
  color: #a2191c; }

a, a:active, a:visited {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: underline; }
