/* layout */
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

#header {
  position: relative;
  padding: 50px 0 0 0; }

#body {
  margin: 2em auto; }

#sidebar1 {
  float: left;
  width: 140px;
  padding: 0 10px 0 0; }

#top {
  float: left;
  width: 780px;
  margin: 0 0 2em 0; }

#comp {
  float: left;
  width: 770px;
  padding: 0 0 0 20px; }
  #comp.wide1 {
    width: 770px; }
  #comp.wide2 {
    width: 530px; }

#columns {
  float: left; }
  #columns #col1 {
    float: left;
    width: 370px;
    padding: 0 40px 0 0; }
  #columns #col2 {
    float: left;
    width: 370px; }

#sidebar2 {
  float: right;
  width: 220px;
  padding: 0 0 0 20px; }

#bottom {
  float: left;
  width: 780px;
  margin: 2em 0 0 0; }

#footer {
  width: 100%;
  border-top: 3px solid black; }
  body.templateColor-orange #footer {
    border-top: 3px solid #cb6a02; }
  body.templateColor-green #footer {
    border-top: 3px solid #0b7419; }
  body.templateColor-yellow #footer {
    border-top: 3px solid #d4a116; }
  body.templateColor-purple #footer {
    border-top: 3px solid #530d89; }
  body.templateColor-blue #footer {
    border-top: 3px solid #050b60; }
  body.templateColor-red #footer {
    border-top: 3px solid #a2191c; }
  #footer > div {
    border-top: 2px solid #f6f6f6;
    background-color: #eaeaea; }

#copyright {
  font-size: 10px;
  text-align: center;
  line-height: 1.5em; }
