/* @group hmenu */
.module_hmenu .menu,
.moduletable_hmenu > ul {
  margin: 0;
  padding: 0; }

.module_hmenu .menu > li,
.moduletable_hmenu > ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 0 5px; }

.module_hmenu.primary {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  top: 50px;
  border-top: 3px solid black;
  background: url("../images/bg_menuShadow.png") bottom center no-repeat;
  padding: 0 0 10px 0;
  z-index: 2; }
  .module_hmenu.primary > div {
    background-color: white; }
  .module_hmenu.primary > div > div {
    position: relative;
    width: 940px;
    margin: 0 auto; }
  .module_hmenu.primary .menu li {
    padding: 32px 15px 28px; }
    .module_hmenu.primary .menu li:hover, .module_hmenu.primary .menu li.active {
      background: url("../images/menu_rollover.png") top center no-repeat; }
    .module_hmenu.primary .menu li:first-child {
      position: relative;
      width: 165px;
      padding: 0; }
      .module_hmenu.primary .menu li:first-child img {
        position: absolute;
        top: -85px; }

.moduletable_hmenu.secondary {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 20px 0; }
  .moduletable_hmenu.secondary ul li {
    padding: 0 10px;
    border-left: 1px solid #000; }
    .moduletable_hmenu.secondary ul li:first-child {
      border: none; }

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
  display: block; }

.moduletable_hmenu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; }

/* /hmenu */
/* @group vmenu */
.moduletable_vmenu > ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.moduletable_vmenu ul ul {
  margin: 0.5em 0 1em 1em;
  list-style: none; }

.moduletable_vmenu.home {
  font-family: "Helvetica CY";
  font-size: 12px;
  text-align: center; }

/* /vmenu */
