/* @group hmenu */
.module_hmenu .menu,
.moduletable_hmenu > ul {
  margin: 0;
  padding: 0; }

.module_hmenu .menu > li,
.moduletable_hmenu > ul > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 0 5px; }

.module_hmenu.primary {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  border-top: 1px solid #fff;
  background: url("../images/bg_menuShadow.png") bottom center no-repeat;
  padding: 0 0 10px 0;
  z-index: 3; }
  .module_hmenu.primary > div {
    background-color: white;
    border-top: 3px solid black; }
    body.templateColor-orange .module_hmenu.primary > div {
      border-top: 3px solid orange; }
    body.templateColor-green .module_hmenu.primary > div {
      border-top: 3px solid #0b7419; }
    body.templateColor-yellow .module_hmenu.primary > div {
      border-top: 3px solid yellow; }
    body.templateColor-purple .module_hmenu.primary > div {
      border-top: 3px solid purple; }
    body.templateColor-blue .module_hmenu.primary > div {
      border-top: 3px solid blue; }
    body.templateColor-red .module_hmenu.primary > div {
      border-top: 3px solid red; }
  .module_hmenu.primary > div > div {
    position: relative;
    width: 940px;
    margin: 0 auto; }
  .module_hmenu.primary .menu li {
    padding: 32px 11px 28px; }
    .module_hmenu.primary .menu li:hover, .module_hmenu.primary .menu li.active {
      background: url("../images/menu_rollover.png") top center no-repeat; }
    .module_hmenu.primary .menu li:first-child {
      position: relative;
      width: 160px;
      padding: 0; }
      .module_hmenu.primary .menu li:first-child img {
        position: absolute;
        top: -85px;
        left: -3px; }

.moduletable_hmenu.secondary {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 20px 0; }
  .moduletable_hmenu.secondary ul li {
    padding: 0 10px;
    border-left: 1px solid #000; }
    .moduletable_hmenu.secondary ul li:first-child {
      border: none; }

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
  display: block; }

.moduletable_hmenu ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; }

/* /hmenu */
/* @group vmenu */
.moduletable_vmenu > ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.moduletable_vmenu ul ul {
  margin: 0.5em 0 1em 1em;
  list-style: none; }

.moduletable_vmenu.home {
  font-family: "Helvetica CY";
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px 0 0; }
  .moduletable_vmenu.home span {
    display: block;
    margin: -5px 0 1em 0;
    padding: 0 15px; }

.moduletable_vmenu.inner {
  font-size: 14px;
  font-weight: bold; }
  .moduletable_vmenu.inner li {
    line-height: 27px;
    padding: 0 0 0 10px; }
    .moduletable_vmenu.inner li:hover {
      background: url("../images/button.png") top left no-repeat; }
      .moduletable_vmenu.inner li:hover a {
        background: url("../images/button.png") bottom right no-repeat;
        color: #fff;
        text-decoration: none; }
    .moduletable_vmenu.inner li a {
      display: block;
      line-height: 27px; }

/* /vmenu */
