/* styles */
.clr, .clear {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection {
  background: #a2191c;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #a2191c;
  color: #fff;
  text-shadow: none; }

.date {
  color: #a2191c; }
