@import "_variables";
@import "_mixins";

/* elements */
body, select, input, textarea {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/warwickTownship/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica CY", Helvetica, Arial, sans-serif;
	font-weight: normal;
	body.templateColor-orange & { color: $government; }
	body.templateColor-green & { color: $business; }
	body.templateColor-yellow & { color: $living; }
	body.templateColor-purple & { color: $visiting; }
	body.templateColor-blue & { color: $news; }
	body.templateColor-red & { color: $emergency; }
}

h1 {
	font-size: 24px;
	border-bottom: 1px solid $underline;
	padding: 0 0 5px 0;
	margin-top: 0;
}

h2 {
	font-size: 20px;
	margin: 1.5em 0 1em;
	text-decoration: underline;

	&:first-child {
		margin-top: 0;
	}
}

h3 {
	margin: 1em 0;
	font-size: 18px;

	+ h4,
	+ p {
		margin-top: .7em;
	}
}

h4 {
	font-size: 16px;
	margin-bottom: 0;

	+ p {
		margin-top: 0;
	}
}

.module h3,
.moduletable h3 {
	font-size: 24px;
	border-bottom: 1px solid $underline;
	padding: 0 0 5px 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a, a:active, a:visited {
	color: #000;
	text-decoration: none;

	.item-page & {
		body.templateColor-orange & { color: $government; }
		body.templateColor-green & { color: $business; }
		body.templateColor-yellow & { color: $living; }
		body.templateColor-purple & { color: $visiting; }
		body.templateColor-blue & { color: $news; }
		body.templateColor-red & { color: $emergency; }
	}
}
a:hover {
	text-decoration: underline;
}

.element-invisible {
	width: 0;
	height: 0;
	overflow: hidden;
	display: block;
}