@import "_variables";
@import "_mixins";

/* elements */
body, select, input, textarea {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Helvetica CY";
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 22px;
	border-bottom: 1px solid $underline;
	padding: 0 0 5px 0;
	margin: 0;
}

.module h3,
.moduletable h3 {
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: 1px solid $underline;
	padding: 0 0 5px 0;
	margin: 0;
}

h1,
.module h3,
.moduletable h3 {
	body.templateColor-orange & { color: $government; }
	body.templateColor-green & { color: $business; }
	body.templateColor-yellow & { color: $living; }
	body.templateColor-purple & { color: $visiting; }
	body.templateColor-blue & { color: $news; }
	body.templateColor-red & { color: $emergency; }
}

a, a:active, a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}