@import "_variables";
@import "_mixins";

/* elements */
body, select, input, textarea {
	color: #444; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-family: "Helvetica CY";
	font-weight: normal; 
}

.module h3,
.moduletable h3 {
	font-size: 22px;
	line-height: 22px;
	text-transform: uppercase;
	border-bottom: 1px solid $underline;
	padding: 0 0 10px 0;
	margin: 0;
}

a, a:active, a:visited {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}