@import "_variables";
@import "_mixins";

// bottom gallery module

.moduletable.gallery {
	width: 100%;
	overflow: scroll;
	
	ul.sigProContainer {
		width: 2000px;

		li.sigProThumb {
			margin: 5px 20px;

			span.sigProLinkOuterWrapper {
				padding: 0;

				span.sigProLinkWrapper {
					border: none !important;
					padding: 0 !important;
					box-shadow: 0px 12px 12px -12px #898887;

					img {
						border-radius: 10px;
					}
				}
			}
		}
	}
}

