@import "_variables";
@import "_mixins";

// default gallery styles

.mosaic,
.phocagallery-box-file-first {
	margin: 0px 20px;

	&:first-child {
		margin-left: 0;
	}

	img {
		border-radius: 10px;
		border: none !important;
		box-shadow: 0px 12px 12px -12px #898887 !important;
		margin-bottom: 10px !important;
	}
}

#phocagallery .pg-name {
	margin: 0;
}

// bottom gallery module

.moduletable.gallery {
	overflow-x: scroll;

	> h3 {
		position: absolute;
		width: 770px;
	}
}

#phocagallery-module-ri {
	width: 5170px;
	margin-top: 3.3em;
	overflow: hidden;

	.ie7 & {
		display: inline;
		*zoom: 1;
	}
}

// gallery page

.phocagallery-box-file {
	margin-bottom: 5px;
}