@import "_variables";
@import "_mixins";

// default gallery styles

.mosaic,
.phocagallery-box-file-first {
	margin: 0px 20px !important; //override

	&:first-child {
		margin-left: 0 !important; //override
	}

	img {
		border-radius: 10px;
		border: none !important;
		box-shadow: 0px 12px 12px -12px #898887 !important;
		margin-bottom: 10px !important;
	}
}

#phocagallery .pg-name {
	margin: 0;
	width: 206px;
}

// bottom gallery module

.moduletable.gallery {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;

	> h3 {
		position: absolute;
		width: 100%;
	}
}

#phocagallery-module-ri {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;

	> *:first-child {
		width: 5170px;
		margin-top: 3.3em !important;
		overflow-x: hidden;
	}

	.ie7 & {
		display: inline;
		*zoom: 1;
	}
}

// gallery page

#phocagallery {
	text-align: center;
}

.phocagallery-box-file {
	float: none !important; //override
	margin-bottom: 5px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}