#sidebar1 {
	width: 15.957446809%; //150px
	padding-bottom: 0;
}

#main {
	padding: 2em 0;
}

#comp {
	width: 81.914893617%; //770px

	&.with-sidebar1 {
		width: 84.042553191%; //790px
	}

	&.with-sidebar2 {
		width: 74.468085106%; //700px
		padding-left: 0;
	}

	&.with-sidebar1.with-sidebar2 {
		width: 55.319148936%; //520px
		margin-left: 2.127659574%; //20px
	}
}

#sidebar2 {
	width: 25.531914893%; //240px
	padding: 0 0 0 2.127659574%; //20px
}

#columns {
	// padding-left: 15.957446809%; //150px
	width: 84.042553191%;
	float: left;

	.home & {
		// padding-left: 15.957446809%; //150px
		width: 84.042553191%;
	}
}

#bottom {
	padding-left: 18.085106383%; //170px

	.home & {
		float: left;
		padding-left: 0; //was 150px or 15.957446809%
		width: 84.042553191%;
	}
}