@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 100%;
	padding: 0 2.5%;
	margin: 0 auto;
}

#headerTop {
	padding: 10px 0;
	position: relative;
	height: 45px;
}

#menu {
	position: relative;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	border-top: 1px solid #fff;
	padding: 0 0 9px 0;
	background: url("../images/bg_menuShadow.png") bottom center no-repeat;
	z-index: 3;

	.ie7 & {
		padding-bottom: 0;
	}
	
	> div {
		background-color: white;
		border-top: 3px solid black;
		min-height: 49px;
		@include transition(min-height .2s ease-in);
		
		body.templateColor-orange & { border-top: 3px solid $government; }
		body.templateColor-green & { border-top: 3px solid $business; }
		body.templateColor-yellow & { border-top: 3px solid $living; }
		body.templateColor-purple & { border-top: 3px solid $visiting; }
		body.templateColor-blue & { border-top: 3px solid $news; }
		body.templateColor-red & { border-top: 3px solid $emergency; }
	}
	
	> div > div {
		position: relative;
		width: 100%;
		max-width: 960px;
		padding: 0 10px;
		margin: 0 auto;
	}
}

#header {
	position: relative;
}

#masthead {
	
}

#main {
	padding: 2em 0;
	position: relative;
	z-index: 5;
	background-color: #ffffff;
}

#sidebar1 {
	float: left;
	padding: 0 1.041666667% 1em 0; //10px
}

#top {
	float: left;
	width: 780px;
	margin: 0 0 2em 0;
}

#comp {
	float: left;
	width: 100%;
	padding: 0 0 2em 0;
}

.without-sidebar1.with-sidebar2 {
	width: 71.276595745%; //670px
}

#columns {
	width: 100%;
	float: left;
}

#sidebar2 {
	float: right;
	width: 100%;
	margin: 0 0 0 2.127659574%; //20px
}

#bottom {
	float: left;
	width: 100%;
	margin: 2em 0 0 0;
	position: relative;
	overflow: hidden; //for gallery h3 bottom-border
}

#footer {
	width: 100%;
	border-top: 3px solid black;
	body.templateColor-orange & { border-top: 3px solid $government; }
	body.templateColor-green & { border-top: 3px solid $business; }
	body.templateColor-yellow & { border-top: 3px solid $living; }
	body.templateColor-purple & { border-top: 3px solid $visiting; }
	body.templateColor-blue & { border-top: 3px solid $news; }
	body.templateColor-red & { border-top: 3px solid $emergency; }
	
	> div {
		border-top: 2px solid #f6f6f6;
		background-color: #eaeaea;
	}	
}

#copyright {
	font-size: 10px;
	text-align: center;
	line-height: 1.5em;
}

//search results

dt.result-title {
	font-size: 16px;
	margin-top: 1em
}

dd.result-text {
	background-color: whitesmoke;
	padding: 1em;
	margin: 0;
}

// category blog layout
.items-row {
	margin-top: 2em;

	&:first-child {
		margin-top: 0;
	}
}

//pagination

div.pagination {

	ul {
		list-style: none;
		width: 100%;
		text-align: center;
		padding: 0;
		display: inline-block;
		*display: inline;
		*zoom: 1;


		li {
			padding: 0 7px;
			display: inline-block;
			*display: inline;
			*zoom: 1;
		}
	}
}