@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	position: relative;
	padding: 50px 0 0 0;
}

#masthead {
	
}

#body {
	margin: 2em auto;
}

#sidebarLeft {
	float: left;
	width: 140px;
	padding: 0 10px 0 0;
}

#top {
	float: left;
	width: 780px;
	margin: 0 0 2em 0;
}

#columns {
	float: left;
	
	#col1 {
		float: left;
		width: 370px;
		padding: 0 40px 0 0;
	}

	#col2 {
		float: left;
		width: 370px;
		background: url('../images/watermark_w.png') center 30px no-repeat;
	}
}

#bottom {
	float: left;
	width: 780px;
	margin: 2em 0 0 0;
}

#footer {
	width: 100%;
	border-top: 3px solid $green;
	
	> div {
		border-top: 2px solid #f6f6f6;
		background-color: #eaeaea;
	}	
}

#copyright {
	font-size: 10px;
	text-align: center;
	line-height: 1.5em;
}