@import "_variables";
@import "_mixins";

/* @group hmenu */
.module_hmenu,
.moduletable_hmenu {}

.module_hmenu .menu,
.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.module_hmenu .menu > li,
.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.module_hmenu.primary {
	float: right;
	
	.menu {
		
		li {
			padding: 32px 11px 28px;
			&:hover,
			&.active {
				background: url('../images/menu_rollover.png') top center no-repeat;
				body.templateColor-orange & { background: url('../images/menu_rollOrange.png') top center no-repeat; }
				body.templateColor-green & { background: url('../images/menu_rollGreen.png') top center no-repeat; }
				body.templateColor-yellow & { background: url('../images/menu_rollYellow.png') top center no-repeat; }
				body.templateColor-purple & { background: url('../images/menu_rollPurple.png') top center no-repeat; }
				body.templateColor-blue & { background: url('../images/menu_rollBlue.png') top center no-repeat; }
				body.templateColor-red & { background: url('../images/menu_rollRed.png') top center no-repeat; }
			}
		}
	}
}

.moduletable_hmenu.secondary {
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	padding: 20px 0 10px;
	
	ul {
		li {
			padding: 0 10px;
			margin-bottom: 10px;
			border-left: 1px solid #000;
			&:first-child {
				border: none;
			}
		}
	}
}

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
	display: block;
}

.moduletable_hmenu > ul > li > a span,
.moduletable_hmenu > ul > li > span span {
	
}

.moduletable_hmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

/* /hmenu */


/* @group vmenu */
.moduletable_vmenu {}

.moduletable_vmenu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin: 0.5em 0 1em 1em;
	list-style: none;
}

.moduletable_vmenu li {
	
}

.moduletable_vmenu.home {
	font-family: "Helvetica CY", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 20px 0 0;
	
	span {
		display: block;
		margin: -5px 0 1em 0;
		padding: 0 5px;
	}
}

.moduletable_vmenu.inner {
	font-size: 14px;
	font-weight: bold;

	.menu {
		text-align: center;
	}
	
	li {
		padding: 0 2px 1.5em;
		display: inline-block;
		*display: inline;
		*zoom: 1;

		a {
			padding: 8px 5px;
			border: 1px solid rgba(black, .2);
			border-radius: 3px;
			background-color: rgba(0, 0, 0, .85);
			box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
			text-decoration: none;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
			body.templateColor-orange & { background-color: rgba($government, .85); }
			body.templateColor-green & { background-color: rgba($business, .85); }
			body.templateColor-yellow & { background-color: rgba($living, .85); }
			body.templateColor-purple & { background-color: rgba($visiting, .85); }
			body.templateColor-blue & { background-color: rgba($news, .85); }
			body.templateColor-red & { background-color: rgba($emergency, .85); }
		}

		a:hover {
			body.templateColor-orange & { background-color: $government; }
			body.templateColor-green & { background-color: $business; }
			body.templateColor-yellow & { background-color: $living; }
			body.templateColor-purple & { background-color: $visiting; }
			body.templateColor-blue & { background-color: $news; }
			body.templateColor-red & { background-color: $emergency; }
		}
	}
}

// mobile-menu

.module_vmenu.mobile-menu-primary {
	max-height: 800px;
	overflow: visible;
	@include transition(max-height .3s ease-in-out);
	position: relative;
	z-index: 4;
	margin: 0 -10px;
	border-top: 3px solid black;
	body.templateColor-orange & { border-top: 3px solid $government; }
	body.templateColor-green & { border-top: 3px solid $business; }
	body.templateColor-yellow & { border-top: 3px solid $living; }
	body.templateColor-purple & { border-top: 3px solid $visiting; }
	body.templateColor-blue & { border-top: 3px solid $news; }
	body.templateColor-red & { border-top: 3px solid $emergency; }

	> div {
		overflow: hidden;
		background-color: #ffffff;
	}

	&.menu-close {
		max-height: 0 !important;
		overflow: hidden;
		position: relative;
		z-index: -1;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	li {
		float: left;
		width: 100%;
		text-align: center;
		background-color: whitesmoke;
		list-style: none;
		

		&:hover {
			background-color: darken(whitesmoke, 5%);
		}

		&:nth-child(2) {background-color: rgba($news, .85);}
		&:nth-child(3) {background-color: rgba($living, .85);}
		&:nth-child(4) {background-color: rgba($visiting, .85);}
		&:nth-child(5) {background-color: rgba($business, .85);}
		&:nth-child(6) {background-color: rgba($government, .85);}
		&:nth-child(7) {background-color: rgba($emergency, .85);}
		&:nth-child(8) {background-color: rgba(0, 0, 0, .85);}

		&:nth-child(2):hover {background-color: $news;}
		&:nth-child(3):hover {background-color: $living;}
		&:nth-child(4):hover {background-color: $visiting;}
		&:nth-child(5):hover {background-color: $business;}
		&:nth-child(6):hover {background-color: $government;}
		&:nth-child(7):hover {background-color: $emergency;}
		&:nth-child(8):hover {background-color: rgba(0, 0, 0, .95);}

		&:first-child a {
			color: #444;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
		}

		a {	
			padding: 14px 8px;
			display: block;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			box-shadow: rgba(0, 0, 0, 0.2) 8px 0px 25px 2px;

			&:hover {
				text-decoration: none;
			}
		}
	}
}