@import "_variables";
@import "_mixins";

/* @group hmenu */
.module_hmenu,
.moduletable_hmenu {}

.module_hmenu .menu,
.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.module_hmenu .menu > li,
.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.module_hmenu.primary {
	position: relative;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	border-top: 1px solid #fff;
	background: url('../images/bg_menuShadow.png') bottom center no-repeat;
	padding: 0 0 10px 0;
	z-index: 3;
	
	> div {
		background-color: white;
		border-top: 3px solid black;
	}
	
	> div > div {
		position: relative;
		width: 940px;
		margin: 0 auto;
	}
	
	.menu {
		
		li {
			padding: 32px 15px 28px;
			&:hover,
			&.active {
				background: url('../images/menu_rollover.png') top center no-repeat;
			}
			
			&:first-child {
				position: relative;
				width: 165px;
				padding: 0;
				img {
					position: absolute;
					top: -85px;
				}
			}
		}
	}
}

.moduletable_hmenu.secondary {
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	padding: 20px 0;
	
	ul {
		li {
			padding: 0 10px;
			border-left: 1px solid #000;
			&:first-child {
				border: none;
			}
		}
	}
}

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
	display: block;
}

.moduletable_hmenu > ul > li > a span,
.moduletable_hmenu > ul > li > span span {
	
}

.moduletable_hmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

/* /hmenu */


/* @group vmenu */
.moduletable_vmenu {}

.moduletable_vmenu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin: 0.5em 0 1em 1em;
	list-style: none;
}

.moduletable_vmenu li {
	
}

.moduletable_vmenu.home {
	font-family: "Helvetica CY";
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 30px 0 0;
	
	span {
		display: block;
		margin: -5px 0 1em 0;
		padding: 0 15px;
	}
}

.moduletable_vmenu.inner {
	font-size: 14px;
	font-weight: bold;
	
	li {
		line-height: 27px;
		margin: 0 0 0 -10px;
		padding: 0 0 0 10px;
		&:hover {
			background: url('../images/button.png') top left no-repeat;
			
			a {
				background: url('../images/button.png') bottom right no-repeat;
				color: #fff;
				text-decoration: none;
			}
		}
		
		a {
			display: block;
			line-height: 27px;
		}
	}
}

/* /vmenu */