@import "_variables";
@import "_mixins";

/* @group hmenu */
.module_hmenu,
.moduletable_hmenu {}

.module_hmenu .menu,
.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.module_hmenu .menu > li,
.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.module_hmenu.primary {
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	width: 100%;
	top: 50px;
	background: url('../images/bg_menuShadow.png') bottom center no-repeat;
	padding: 0 0 10px 0;
	border-top: 3px solid black;
	
	> div {
		position: relative;
		width: 940px;
		margin: 0 auto;
	}
	
	.menu {
		
		li {
			padding: 32px 15px 28px;
			&:hover {
				background: url('../images/menu_rollover.png') top center no-repeat;
			}
			
			&:first-child {
				position: relative;
				width: 165px;
				padding: 0;
				img {
					position: absolute;
					top: -85px;
				}
			}
		}
	}

}

.moduletable_hmenu > ul > li > a,
.moduletable_hmenu > ul > li > span {
	display: block;
}

.moduletable_hmenu > ul > li > a span,
.moduletable_hmenu > ul > li > span span {
	
}

.moduletable_hmenu ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

/* /hmenu */


/* @group vmenu */
.moduletable_vmenu {}

.moduletable_vmenu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.moduletable_vmenu ul ul {
	margin: 0.5em 0 1em 1em;
	list-style: none;
}

.moduletable_vmenu li {
	
}
/* /vmenu */