@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

// header

.module.socialLink > div > div {
	position: absolute;
	right: 185px;
}

.module.socialLink,
.module.search {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 2;
	
	> div {
		position: relative;
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
	
	input {
		position: absolute;
		right: 0;
		top: 0;
		height: 25px;
		line-height: 25px;
		padding: 0 0 0 10px;
		border: 1px solid #000;
		border-radius: 15px;
		font-size: 10px;
		color: $inputText;
	}
}

// banner 
.module.slideshow {
	background: url('../images/bg_masthead1.jpg') top center no-repeat;
	height: 453px;
	margin: -139px 0 0 0;
	
	> div {
		position: absolute;
		width: 100%;
		background: url('../images/bg_mastheadShadow.png') bottom center no-repeat;
		padding-bottom: 9px;
		bottom: -9px;
	}
	
	> div > div {
		background: url('../images/bg_masthead.png') bottom center repeat-x;
		padding: 16px 0 1px;
	}
	
	> div > div > div {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
	
	h3 {
		font-size: 35px;
		margin: 0;
		border: none;
	}
}
// inner-page titles

.module.masthead {
	z-index: 1;
	margin: -10px 0 0 0;
	width: 100%;
	background: url('../images/business_bg.jpg') center top repeat-x;
	
	> div {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
		height: 123px;
	}
	
	> div > div {
		background: url('../images/business_rightImg.png') right bottom no-repeat;
	}
	
	> div > div > div {
		background: url('../images/business_leftImg.png') 55px bottom no-repeat;
		height: 123px;
		
		h1 {
			font-size: 22px;
			text-transform: uppercase;
			color: #FFF;
			padding: 80px 0 0 170px;
			margin: 0;
			text-shadow: 2px 2px 2px #2e2e2e;
		}
	}
	
}

// columns

ul.category-module {
	padding: 0;
	margin: 0;
	
	li {
		list-style: none;
		border-top: 1px solid $underline;
		background: url('../images/events_listImg.png') left 1em no-repeat;
		padding: 0 0 1em 50px;
		&:first-child {
			border: none;
			padding-top: 0;
		}
		
		h4 {
			font-weight: bold;
			margin: 0;
			padding: 1em 0 0 0;
		}
		
		p {
			margin: 0;
		}
	}
}