@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

// header

.module.fontResizer,
.module.socialLink,
.module.search {
	float: right;
	margin-left: 10px;
	z-index: 2;
	position: relative;
}

.module.fontResizer {
	line-height: 27px;

	.bigger {
		font-size: 18px;
	}

	.smaller {
		font-size: 14px;
	}
}

.module.socialLink {
	 
	 .ie8 & {
		 img {
		 	min-width: 27px; //bug fix
		 }
	 }
}

.module.search {
	form {
		position: relative;
	}
}

.module.logo {
	position: absolute;
	top: -37px;
	width: 17.340425532%; //163px
	z-index: 5;
}

.module.show-menu {
	width: 100%;
	text-align: center;
	line-height: 49px;
	font-size: 2em;
	cursor: pointer;
	@include transition(line-height .2s ease-in);
}

// inner-page titles

.module.masthead {
	margin: -9px 0 0 0;
	width: 100%;
	position: relative;
	background: url('../images/bg_masthead.jpg') -140px -40px;
	body.templateColor-orange & { background-position: -140px -40px; }
	body.templateColor-green & { background-position: -140px 610px; }
	body.templateColor-yellow & { background-position: -140px 480px; }
	body.templateColor-purple & { background-position: -140px 350px; }
	body.templateColor-blue & { background-position: -140px 220px; }
	body.templateColor-red & { background-position: -140px 90px; }

	.ie7 & {
		margin-top: 0;
	}

	@include transition(background-position .1s ease-in);
	
	//for upcoming events with no menu item attached
	&.templateColor-blue { background-position: -140px 220px; }
	
	> div {
		max-width: 960px;
		padding: 0 10px 7px;
		margin: 0 auto;
		height: 89px;
		background: url('../images/bg_mastheadShadow.jpg') bottom center no-repeat;

		@include transition(height .1s ease-in);
	}

	h1 {
		font-size: 18px;
		color: #FFF;
		padding: 35px 0 0 130px;
		margin: 0;
		text-shadow: 2px 2px 2px #2e2e2e;
		border: none;

		@include transition((padding .2s ease-in, font-size .2s ease-in));
	}
	
}

// columns

ul.category-module {
	padding: 0;
	margin: 0;
	
	li {
		list-style: none;
		border-top: 1px solid $underline;
		background: url('../images/events_listImg.png') left 1em no-repeat;
		padding: 0 0 1em 50px;
		&:first-child {
			border: none;
			padding-top: 0;
		}

		.events-page & {
			background: none;
			padding-left: 0;
		}
		
		h4 {
			font-weight: bold;
			margin: 0;
			padding: 1em 0 0 0;
			word-wrap: break-word;
		}
		
		p {
			margin: 0;
		}
	}
}

// module w/ 'W' in background

.moduletable.watermark {
	background: url('../images/w_green.png') bottom right no-repeat;
}