@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

// header

.module.search {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 2;
	
	> div {
		position: relative;
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
	
	input {
		position: absolute;
		right: 0;
		top: 0;
		height: 25px;
		line-height: 25px;
		padding: 0 0 0 10px;
		border: 1px solid #000;
		border-radius: 15px;
		font-size: 10px;
		color: $inputText;
	}
}

// banner 
.module.slideshow {
	background: url('../images/bg_masthead1.jpg') top center no-repeat;
	height: 453px;
	margin: -139px 0 0 0;
	
	> div {
		position: absolute;
		width: 100%;
		background: url('../images/bg_mastheadShadow.png') bottom center no-repeat;
		padding-bottom: 9px;
		bottom: -9px;
	}
	
	> div > div {
		background: url('../images/bg_masthead.png') bottom center repeat-x;
		padding: 16px 0 1px;
	}
	
	> div > div > div {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}
	
	h3 {
		font-size: 35px;
		margin: 0;
		border: none;
	}
}

// columns

ul.category-module {
	padding: 0;
	margin: 0;
	
	li {
		list-style: none;
		border-top: 1px solid $underline;
		background: url('../images/events_listImg.png') left 1em no-repeat;
		padding: 0 0 1em 50px;
		&:first-child {
			border: none;
			padding-top: 0;
		}
		
		h4 {
			font-weight: bold;
			margin: 0;
			padding: 1em 0 0 0;
		}
		
		p {
			margin: 0;
		}
	}
}