@import "_variables";
@import "_mixins";

.module.slideshow {
	margin: 0;
	position: relative;

	@include transition(height .2s ease-in);

	> div {
		background: url('../images/bg_slideshowShadow.png') bottom center no-repeat;
		padding-bottom: 9px;
	}

	> div > div {
		@include transition(padding .2s ease-in);
	}

	> div > div > div {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	h3 {
		position: absolute;
		z-index: 4;
		bottom: 0;
		width: 100%;
		padding: 0.5em 0;
		font-size: 24px;
		border: none;
		text-transform: uppercase;
		background: url('../images/bg_slideshow.png') bottom center repeat-x;
		@include transition(font-size .2s ease-in);

		span {
			display: block;
			max-width: 940px;
			padding: 0 2.5%;
			margin: 0 auto;
		}
	}

	ul.slideshow {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: none;
			text-align: center;
		}

		li.current {
			display: block;
			position: relative;
			z-index: 2;
		}

		li.other {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	img {
		min-height: 266px;
		display: block;
		margin: 0 auto -3px;
	}
}

.ie7 #shadowbox_container * {
	box-sizing: content-box;
}