@import "_variables";
@import "_mixins";

.module.slideshow {
	background: url('../images/bg_slideshow1.jpg') top center no-repeat;
	height: 330px;
	margin: -159px 0 0 0;
	position: relative;

	@include transition(height .2s ease-in);

	> div {
		position: absolute;
		width: 100%;
		background: url('../images/bg_slideshowShadow.png') bottom center no-repeat;
		padding-bottom: 9px;
		bottom: -9px;
	}

	> div > div {
		background: url('../images/bg_slideshow.png') bottom center repeat-x;
		padding: 10px 0 1px;
		@include transition(padding .2s ease-in);
	}

	> div > div > div {
		width: 100%;
		padding: 0 10px;
		margin: 0 auto;
		max-width: 960px;
	}

	h3 {
		font-size: 24px;
		margin: 0;
		border: none;
		text-transform: uppercase;
		@include transition(font-size .2s ease-in);
	}
}

.ie7 #shadowbox_container * {
	box-sizing: content-box;
}